<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head th:replace="dashboard :: head">
</head>
<title>Home Page</title>

<body class="fixed-sn light-blue-skin">
    <header th:replace="dashboard :: header">
    </header>
    <main style="padding-top: 15px;">
        <div class="title">
            <h2></h2>
        </div>
        <div class="container-fluid mt-5">
            <div class="mt-3">
                <h4 style="text-align: center;">WELCOME TO VACCINE MANAGEMENT SYSTEM</h4>
            </div>
            <div style="height: 850px"></div>
        </div>
    </main>
    <script type="text/javascript" src="/assets/js/mdb.min.js"></script>
    <script type="text/javascript"></script>
</body>

</html>