<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="dashboard :: head">
</head>
<title>News List</title>


<body class="fixed-sn light-blue-skin">

<header th:replace="dashboard :: header">

</header>

<!--Main Layout-->
<main class="pt-4">
	<div class="title">
		<h2></h2>
	</div>
	<div class="container-fluid mt-5">
		<div class="mt-3">
			<h4 class="text-center">NEWS LIST</h4>
		</div>
		<div>
			<div class="card">
				<div class="row">
					<div class="mt-3">
						<form th:action="@{/news/search}" method="get">
							<div class="option-entries">Show
								<select name="size" id="size" class="select-entries" th:value="${sizee}" onchange="this.form.submit()">
									<!--										<option th:each="pagesize : ${pagesizes}" th:value="${pagesize}" th:text= "${pagesize}" th:selected="${pagesize} == ${psize}"></option>-->
									<option th:each="e : ${sizeList}" th:value="${e}" th:text="${e}" th:selected="${e} == ${sizee}"></option>
								</select>
								entries
							</div>
							<input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}" class="search-list form-control " placeholder="" />
							<input type="submit" value="Search"  class="form-control bt-search" />
						</form>
					</div>
					<div class="errorRed" th:text="${errorDelete}"></div>
					<div class="errorGreen" th:text="${deleteSuccess}"></div>
				</div>
				<form id="tableDelete" method="post" th:action="@{/news/deleteListNews}">
					<div class="card-body pt-1	">
						<table class="table table-bordered table-hover order-column row-border mt-2"
							   id="listNews">
							<thead>
							<tr class="topbar-card">
								<th scope="row"><input type="checkbox" class="check" id="checkAll"></th>
								<th scope="col">Title</th>
								<th scope="col">Content</th>
								<th scope="col">Post date</th>
								<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="news : ${news}">
								<!--									<tr th:each="news, iStat : ${newsPage.content}"-->
								<!--										th:style="${iStat.odd}? 'font-weight: bold;'"-->
								<!--										th:alt-title="${iStat.even}? 'even' : 'odd'">-->
								<td scope="row"><input type="checkbox" class="checkId" th:value="${news.newsId}" th:name="idChecked"></td>
								<td th:text="${news.title}"></td>
								<td th:text="${news.content}"></td>
								<td th:text="${#dates.format(news.postDate, 'dd/MM/yyyy')}"></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')" class="action" alt="Actions">
									<a  th:onclick="return myFunction()" th:href="|@{/news/deleteNews?id={id}(id=${news.newsId})}|"><div class="delete" ></div></a>
									<a  th:href="|@{/news/updateNews?id={id}(id=${news.newsId})}|" ><div class="update"></div></a>
								</td>
							</tr>
							</tbody>
						</table>

					</div>
					<div class="mb-4 ml-4 page-number">
						<div>Show 1 to 5 of 11 entries</div>
						<nav aria-label="Page navigation example" class="nav-number-page">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>

								<li class="page-item">
									<div th:if="${newsPage.totalPages > 0}" class="pagination page-link" style="max-width: fit-content; float: left;"
										 th:each="pageNumber : ${pageNumbers}">
										<div class="page-item">
											<div th:if="${keyword == null}">
												<a th:href="@{/news/listNews(page=${pageNumber}, size=${newsPage.size})}"
												   th:text=${pageNumber}
												   th:class="${pageNumber==newsPage.number + 1} ? active"></a>
											</div>
											<div th:if="${keyword != null}">
												<a th:href="@{/news/listNews(keyword=${keyword}, page=${pageNumber}, size=${newsPage.size})}"
												   th:text=${pageNumber}
												   th:class="${pageNumber==newsPage.number + 1} ? active"></a>
											</div>
										</div>
									</div>
								</li>

								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<button type="button" class="btn btn-success" id=""><a th:href="@{/news/addNews}"
																				   class="text-white">Create News</a></button>
							<button type="submit" class="btn btn-danger" th:onclick="return myFunction()">Delete News</button>
						</div>

					</div>
				</form>
			</div>
		</div>

	</div>
</main>
<!--Main Layout-->
<!-- MDB -->
<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript">
	$(document).ready(function () {
		$('#checkAll').click(function () {
			if ($(this).is(":checked"))
				$('.checkId').prop('checked', true);
			else
				$('.checkId').prop('checked', false);
		});
	});
	function myFunction() {
		if (!(confirm('Are you sure to delete?')))
			return false;
	}
</script>
<style>
	confirm{
		background-color: aqua;
		color: red;
	}
</style>
</body>

</html>