<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="dashboard :: head">
</head>
<title>List Employee</title>

<body class="fixed-sn light-blue-skin">
	<header th:replace="dashboard :: header"> </header>
	<!--Main Layout-->
	<main class="pt-4">
		<div class="title">
			<h2></h2>
		</div>
		<div class="container-fluid mt-5">
			<div class="mt-3">
				<h4 style="text-align: center;">EMPLOYEE LIST</h4>
			</div>
			<div>
				<div class="card">
					<div class="row">
						<div class="mt-3">
							<form th:action="@{/employee/listEmployee/search}" method="get">
								<div class="option-entries">
									Show <select name="size" id="size" class="select-entries"
										th:value="${size}" onchange="this.form.submit()">
										<option th:each="pagesize : ${pagesizes}"
											th:value="${pagesize}" th:text="${pagesize}"
											th:selected="${pagesize} == ${size}"></option>
									</select> entries
								</div>
								<input type="text" name="keyword" id="keyword" size="30"
									th:value="${keyword}" class="search-list form-control "
									placeholder="" /> <input type="submit" value="Search"
									style="max-width: fit-content; float: right; border: 0px;"
									class="form-control" />
							</form>
						</div>
						<div style="text-align: center; color: red" th:text="${mess}"></div>
						<div style="text-align: center; color: green" th:text="${messs}"></div>
					</div>
					<form id="tableDelete" method="post"
						th:action="@{/employee/deleteMulti}">
						<div class="card-body pt-1">
							<table
								class="table table-bordered table-hover order-column row-border mt-2"
								id="listEmployee">
								<thead>
									<tr class="topbar-card">
										<th scope="row"><input type="checkbox" class="check"
											id="checkAll"></th>
										<th scope="col"><a
											th:href="@{'/employee/listEmployee/' + ${currentPage} + '?sortField=employeeId&sortDir=' + ${reverseSortDir} + '&keyword=' + ${keyword}}">Employee
												ID</a></th>
										<th scope="col"><a
											th:href="@{'/employee/listEmployee/' + ${currentPage} + '?sortField=employeeName&sortDir=' + ${reverseSortDir} + '&keyword=' + ${keyword}}">Employee
												Name</a></th>
										<th scope="col">Date of Birth</th>
										<th scope="col">Gender</th>
										<th scope="col">Phone</th>
										<th scope="col">Address</th>
										<th scope="col">Image</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="employee, iStat : ${employees}"
										th:style="${iStat.odd}? 'font-weight: bold;'"
										th:alt-title="${iStat.even}? 'even' : 'odd'">
										<td scope="row"><input type="checkbox" class="checkId"
											th:value="${employee.employeeId}" th:name="idChecked">
										<td><a class="text-primary"
											th:text="${employee.employeeId}"
											th:href="|@{/employee/detailEmployee/{id}(id = ${employee.employeeId})}|"></a></td>
										<td th:text="${employee.employeeName}"></td>
										<td
											th:text="${#dates.format(employee.dateOfBirth, 'dd/MM/yyyy')}"></td>
										<td><span th:if="${employee.gender == 1}">Female</span> <span
											th:unless="${employee.gender == 1}">Male</span></td>
										<td th:text="${employee.phone}"></td>
										<td th:text="${employee.address}"></td>
										<td><img alt=""
											th:src="'data:image/png;base64,'+ ${employee.base64Img}"
											class="img-icon-list-employee"></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')" class="action"
											alt="Actions"><a th:onclick="return myFunction()"
											th:href="|@{/employee/deleteEmployee?id={id}(id=${employee.employeeId})}|"><div
													class="delete"></div></a> <a
											th:href="|@{/employee/updateEmployee?id={id}(id=${employee.employeeId})}|"><div
													class="update"></div></a></td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="mb-4 ml-4">
							<div>
								<div class="row col-sm-10">
									<div class="">
										<span>Show [[${firstE}]] to [[${elementt}]] of
											[[${totalItems}]] entries</span> <span
											style="max-width: fit-content; float: right;" th:if="${totalPages > 1}"> <a
											th:if="${currentPage > 1}"
											th:href="@{'/employee/listEmployee/' + 1 + '?size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">First</a>
											<span th:unless="${currentPage > 1}">First</span> <a
											th:if="${currentPage > 1}"
											th:href="@{'/employee/listEmployee/' + ${currentPage - 1} + '?size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Previous</a>
											<span th:unless="${currentPage > 1}">Previous</span> <span
											th:each="i : ${#numbers.sequence(1, totalPages)}"> <a
												th:if="${currentPage != i}"
												th:href="@{'/employee/listEmployee/' + ${i} + '?size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">[[${i}]]</a>
												<span th:unless="${currentPage != i}">[[${i}]]</span>
												&nbsp;&nbsp;
										</span> <a th:if="${currentPage < totalPages}"
											th:href="@{'/employee/listEmployee/' + ${currentPage + 1} + '?size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Next</a>
											<span th:unless="${currentPage < totalPages}">Next</span> <a
											th:if="${currentPage < totalPages}"
											th:href="@{'/employee/listEmployee/' + ${totalPages} + '?size=' + ${size} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Last</a>
											<span th:unless="${currentPage < totalPages}">Last</span>
										</span>
									</div>
								</div>
							</div>
							<div sec:authorize="hasRole('ROLE_ADMIN')">
								<button type="button" class="btn btn-success btn-employee" id="">
									<a th:href="@{/employee/addEmployee}" class="text-white">New
										Employee</a>
								</button>
								<button type="submit" class="btn btn-danger"
									th:onclick="return myFunction()">Delete Employee</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</main>
	<!--Main Layout-->
	<!-- MDB -->
	<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
	<!-- Custom scripts -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#pageSelected').change(function(evt) {
				window.location.replace('?page=1&size=' + this.value);
			});
			$('#checkAll').click(function() {
				if ($(this).is(":checked"))
					$('.checkId').prop('checked', true);
				else
					$('.checkId').prop('checked', false);
			});
		});
		function myFunction() {
			if (!(confirm('Are you sure to delete?')))
				return false;
		}
	</script>
</body>

</html>